#JLB{overflow: hidden;}
#julebu{background-image: url(../img/QQ图片20180628092322.png);}
#julebua{width:960px;margin: 0px auto;background-image: url(../img/QQ图片20180625161739.png);overflow: hidden;}
#julebu2{background-color: white;width: 660px;border-top: 3px #8F0F0D solid;}
#julebu20{padding: 25px 25px 0px 25px;}
.p{padding-bottom: 50px;text-indent: 2em;font-size: 15px;line-height: 25px;}
#julebu211{background-color: #f0f1f3;border-top: 2px #8F0F0D solid;width: 560px;padding: 80px 20px 0px 20px;}
#jlb11{clear: both;}
#jlb img{float: left;}
#jianjie{float: right;text-indent: 2em;line-height: 25px;width: 439px;}
#jianjie{text-indent: 2em;line-height: 25px;}
#julebu2,#PW{float: left;}
#julebu2{margin: 40px 20px 0px 0px;}
#PW{margin: 40px 20px 0px 0px;}
