#QIUDUI{overflow: hidden;}
.qiudui{background-image: url(../img/QQ图片20180628092322.png);}
.qiudui0{margin: 0px auto;width: 960px;background-image: url(../img/QQ图片20180625161739.png);overflow: hidden;}
#qiudui1{width: 660px;background-color: white;border-top: 3px #8F0F0D solid;margin: 40px 20px 0px 0px;}
#qiudui10{margin: 0px auto;padding: 25px 25px 0px 25px;}
#qiudui12{background-color: #f0f1f3;width: 600px;}
#qiudui1 table{margin: 0px auto;padding-bottom: 50px;}
table li{font-size: 14px;;}
.td{margin: 10px;border-top: 2px black solid;}
.tu{float: left;margin: 5px;}
.ren{float: right;margin: 5px;}
.z{margin-right: 10px;margin-left:10px;color: red;font-size: 20px;}
#qiudui1,#PW{float: left;}
#PW{margin: 40px 20px 0px 0px;}
