#pw{background-color: gray;}
#pw1{margin: 0px auto;width: 655px;background-image: url(../img/QQ图片20180625161739.png);}
#pw11 a{color: #8F0F0D;font-size: 15px;}
#pw12{background-color:white;margin: 0px auto;margin-top: 20px;border-top: 3px #8F0F0E solid;}
#pw12 p{padding: 20px 0px 20px 20px;}
#pw12 input{margin: 20px 0px 20px 20px;width: 90px;height: 30px;
background-color: gray;color: white;
border-radius: 10%;
border: gray solid;
}
