#shouye{overflow: hidden;}
#aaa a{color: black;}
#aa{background-image: url(../img/QQ图片20180628092322.png);}
#aa1{width: 960px;margin: 0px auto;background-image:url(../img/QQ图片20180625161739.png);overflow: hidden;}
#aaa{width:660px;background-color:white;padding-bottom: 50px;margin: 30px 20px 100px 0px;}
#PW{margin-top: 30px;}
.item-table-left{float: left;clear:left;margin-left: 20px;margin-right: 10px;}
.item-table-right{height: 170px;border-bottom: 1px gray solid;}
.item-table-right{height: 170px;margin: 15px;}
.b3{clear: both;overflow: hidden;margin: 10px;}
#aaa h2{background-color: black;color: white;width: 500px;text-indent: 1em;font-size: 20px;}
#aaa p{color: gray;}
#aaa,#PW{float: left;}
#aa0{background-color:#06212d;margin-bottom: 10px;}
.wenzi{text-indent: 2em;font-size: 14px;line-height: 25px;margin-top: 10px;}
